.provider_banner {
  /* top: 0px; */
  /* left: 0px; */
  /* border: 1px solid #707070; */
  /* opacity: 1; */
  /* -webkit-backdrop-filter: blur(3px) !important; */
  display: flex;
  width: 100vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.provider_banner>img {
  background: transparent url('/public/images/home-flipped.jpg') 0% 0% no-repeat padding-box;
  filter: blur(3px);
  width: 100vw;
  height: 71vh;
  position: absolute;
  z-index: -10;
  overflow: clip !important;
}

.provider_banner .banner_content {
  /* display: flex;
  flex-direction: row-reverse;
  width: 100%; */
  /* top: 40px !important; */
  /* left: 300px; */
  width: 70%;
  height: 90%;
  /* UI Properties */
  opacity: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: larger;
  filter: none !important;
}

.service_list_sec {
  background-color: #fff;
}

.provider_banner .banner_content .banner_title {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.provider_banner .banner_content .banner_title h1 {
  font-size: 58px;
  font-weight: 700;
  color: white;
  /* direction: rtl !important; */
  /* top: 278px; */
  /* left: 300px; */
  /* width: 870px; */
  /* height: 149px; */
  /* UI Properties */
  text-align: right;
  /* font: normal normal bold 58px/68px; */
  letter-spacing: 0px;
  opacity: 1;
}

.btnDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.btnDiv>* {
  margin-left: 40px;
}

.filter-btn-div {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.filter-btn {
  transition: all .2s ease-in-out;
}

.filter-btn:hover {
  transform: scale(1.1);
}

.filter-btn-div .filter-btn {
  background: var(--primary);
  color: #fff;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 17px;
  width: 150px;
  text-align: center !important;
  /* height: 50px; */
}

.lightBtn {
  color: var(--primary) !important;
  background: #fff !important;
}

.banner_content>* {
  /* width: 50%; */
}

.banner_content .bannerLeft {
  display: flex;
  justify-content: center;

}

.provider_banner .banner_content h1 {
  color: black;
}

.provider_banner .banner_content h6 {
  color: black;
}

.provider_banner .banner_content small {
  color: black;
}

.provider_banner .banner_content_phone {
  display: flex;
  justify-content: end;
}

.bannerLeft .aboutBtn {
  width: 100px;
  height: 50px;
  line-height: 50px;
  background: var(--primary);
  color: white;
  padding: 0px;
  border-radius: 10px;
  text-align: center !important;

}

.office .specialistsListSec {
  padding: 0px 0 10px;
}

.office .add_card_pages .add_card_area {
  padding: 0px 10px 10px 10px;
}

.aboutProvider .office .add_card_pages .add_card_area .add_card_h1 {
  margin-top: 0;
}

.about_area {
  padding: 0 15px;
}

.about_text {
  direction: rtl;
}

.aboutProvidesMainBtnDiv {
  padding: 0 10px;
}