.ItemsList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
    padding: 5%;
}

.item {
    width: 30%;
    margin-bottom: 5%;
}

.item>div {
    font-size: 16px;
}

.itemText {
    text-align: center;
}


.item img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1/1;
}