.office .add_card_pages .add_card_area {
    padding: 0px 10px 10px 10px;
}

.office .specialistsListSec {
    padding: 20px 0 0;
}

.office .paidServicesArea .paidServiceSqaureList .paidServiceSquareDiv {
    width: unset;
    height: 180px;
}

.factorytime {
    padding-bottom: 0 !important;
}