.buildingCommitteeMemberList .doctorsbtn {
    display: none;
}

.buildingCommitteeMemberList .starSection {
    display: none;
}

.buildingCommitteeMemberList .openRoundText {
    justify-content: center;
}