.listHeader span {
	color: var(--primary);
}

.listHeader {
	padding: 0 13px 26px;
	height: 65px;
	color: var(--black);
}

.listHeaderH {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
}

.listHeaderP {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	direction: rtl;
}