.modal-dialog>* {
    direction: rtl;
}

.modal-header .btn-close {
    margin: 0 !important;
}

.crain {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    /* border: 2px solid #ccc; */
    border-radius: 4px;
    background-color: #f8f8f8;
}

#extraRoadSelect {
    width: 200px;
    margin-right: 11%;
}