/* Create the Default Paragraphs */
.tell_us_pages.rtl * {
    text-align: right !important;
}

.tell_us_pages {
    height: 100%;
    max-width: 428px;
    width: 100%;
    margin-bottom: 100px;
}

.tell_us_pages .health_sec {
    padding: 10px 10px 0px 10px;
}

.tell_us_pages .health_sec .health_image_div {
    display: flex;
    flex-direction: row-reverse;
}

.tell_us_pages .health_sec .health_image_div .health_h1 {
    margin-bottom: 0%;
    margin-top: 5%;
    margin-right: 2%;
    font-size: 22px;
    font-weight: 500;
}

.tell_us_pages button:active {
    background-color: #BF2C7D !important;
    color: #FFFFFF !important;
}

.tell_us_pages button:hover {
    background-color: #BF2C7D !important;
    color: #FFFFFF !important;
}

.tell_us_pages .active {
    background-color: #BF2C7D !important;
    color: #FFFFFF !important;
}

.tell_us_pages button {
    background-color: #F7F7F9;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
    direction: rtl;
}

.tell_us_pages .pregnancy_sec {
    padding: 20px 10px 0px 10px;
}

.tell_us_pages .pregnancy_sec .pregnancy_image_div {
    display: flex;
    flex-direction: row-reverse;
}

.tell_us_pages .pregnancy_sec .pregnancy_image_div .pregnancy_h1 {
    margin-bottom: 0%;
    margin-top: 5%;
    margin-right: 2%;
    font-size: 22px;
    font-weight: 500;
}