.total {
    direction: ltr;
}

.total.price {
    text-decoration: underline !important;
    text-align: center !important;
}

.minimum-storing-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary);
    margin: 0px;
    padding: 10px 10px 0px 0px;
}

.minimum-storing-container {
    margin-top: 30px !important;
    text-align: center !important;
}

.vat {
    margin-top: 5px;
    font-size: 12px;
}

.noSave {
    direction: rtl;
    font-size: smaller;
    color: var(--primary);
    padding: 2%;
}

.select_address_input {
    margin: auto;
}

.store {
    background-color: var(--bs-teal) !important;
}

.storeContainer {
    border: solid 2px var(--bs-teal) !important;
}

.filter-btn-div .storing>* {
    font-family: 'Segoe UI' !important;
}

.storing-date {
    text-align: center !important;
}

.storing-total-price {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--primary);
    text-align: center !important;
}

.moving-total-price {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center !important;
}

.add-products {
    text-align: center !important;
}

.storagePay {
    font-size: smaller !important;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-evenly; */
    direction: rtl;
    padding: 3% !important;
}

.leftPay,
.rightPay {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

.rightPay {
    width: 200px
}

.leftPay {
    width: 150px
}

.leftPay>*,
.rightPay>* {
    margin: 0;
}

.light {
    opacity: 0.8;
}

.only>* {
    margin-right: 5px !important;
    margin-top: 300px !important;
    width: 420px !important;
}