.specialistsListSec {
  padding: 20px 0 10px;
}

.specialistsListSec .specialistsHeading {
  display: flex;
  justify-content: space-between;
}

.specialistsListSec .specialistsHeading a {
  font-size: 15px;
  color: var(--primary) !important;
  font-weight: 400;
  display: flex;
}

.specialistsListSec .specialistsHeading h3 {
  font-size: 17px;
  font-weight: 400;
}

.specialistsListSec .specialistsBox .boxImg {
  max-width: 75px;
  margin: 0 auto;
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
  height: 75px;
}

.specialistsListSec .specialistsBox .boxboxImg_img .specialistsBoxImg {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.specialistsListSec .specialistsBoxArea {
  padding: 15px 0 0;
  text-align: center;
}

.specialistsListSec .specialistsBoxArea .specialistsBox * {
  text-align: center !important;
}

.specialistsListSec .specialistsBoxArea .specialistsBox .startCon {
  display: flex;
  align-items: center;
}

.specialistsListSec .specialistsBoxArea .specialistsBox .startCon svg {
  width: 20px;
  height: 20px;
}

.specialistsListSec .specialistsBoxArea .specialistsBox .startCon svg > path {
  color: var(--primary);
}

.specialistsListSec .specialistsBoxArea .specialistsBox .startCon span {
  margin-right: 5px;
  font-size: 13px;
  font-weight: 400;
}

.specialistsListSec .specialistsBoxArea .col-3 {
  padding: 0 3px;
}

.specialistsListSec .specialistsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialistsListSec .specialistsBox h6 {
  font-size: 13px !important;
  margin: 10px 0 0;
  font-weight: 400;
  color: #222b45;
  padding-bottom: 5px;
}

.specialistsListSec .specialistsBox p {
  font-size: 13px !important;
  margin: 0;
  font-weight: 400;
  color: #8f9bb3;
  padding-bottom: 5px;
}

.specialistsListSec .specialistsBox span {
  font-size: 13px;
  margin-top: 5px;
  margin-left: 5px;
  font-family: SFProDisplay-Regular !important;
  color: #8f9bb3;
}

.specialistsListSec .startCon img {
  padding-top: 5x;
}

.specialistsListSec .startCon span {
  margin-right: 5px;
}

.specialistsListSec .specialistsHeading svg {
  transform: rotate(90deg);
}