.firstPage {
	height: 100vh;
	background-image: url('../../assets/images/opening/firstBG.jpg');
	background-size: cover;
	position: relative;
}

.firstPageContent {
	height: 30%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: white;
	border-radius: 40px 40px 0 0;
	padding: 0 21px 0;
	border: 1px solid #E2E2E2;
}

.firstPageBtns {
	position: absolute;
    width: 90%;
    bottom: 23%;
}

.firstPageBtns div {
	height: 17%;
	text-align: center;
	font-size: 17px;
	line-height: 250%;
	font-weight: 700;
	border-radius: 10px;
}

.loginBtn {
	margin-bottom: 20px;	
	border: 1px solid #E2E2E2;
	color: #BF2C7D;
}

.signinBtn {
	border: 1px solid #979797;
	color: white;
	background-color: #BF2C7D;
}

.loginPage {
	background-image: url('../../assets/images/opening/log&signBG.jpg');
}

.loginArrowDiv {
	padding: 44px 40px 15px;
}

.loginHDiv {
	padding: 0 40px;
}

.loginH {
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
	direction: rtl;
	color: white;
}

.loginPageContent {
	height: 46%;
}

.loginPage .loginBtn {
	margin: 0;
	border: 1px solid #979797;
	color: white;
	background-color: #BF2C7D;
}

.loginPage .signinBtn {
	margin: 0;
	border: 1px solid #E2E2E2;
	color: #BF2C7D;
	background-color: white;
}

.orDiv {
    position: relative;  
    margin: 1px 0;
    display: flex;
    justify-content: center;
}

.orDiv:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: #E2E2E2;
  content: "";
  width: 100%;
  display: block;
}

.or {
	color: #BF2C7D;
	position: relative;
	z-index: 1;
	width: 19%;
	background-color: white;
}

.loginPageInputs, .signinPageInputs {
	margin-bottom: 6%;
}

.emailDiv, .passwordDiv {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	align-items: center;
}

.loginPageInputs input {
	width: 100%;
    text-align: right;
    border-bottom: 1px solid #E2E2E2;
    height: 4.6vh;
    font-size: 15px;
}

.emailDiv img {
	width: 14px;
	height: fit-content;
}

.passwordDiv img {
	width: 20px;
	height: fit-content;
}
 

.loginPageInputsAndBtns {
	position: absolute;
    width: 90%;
    bottom: 14%;
}

.loginPageBtns {
	position: unset;
    width: unset;
    bottom: unset;
}

.forget {
    text-align: left;
    direction: rtl;
    font-size: 12px;
    color: #BF2C7D;
    padding-top: 12px;
}

.signinPageInputs input {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #E2E2E2;
    height: 3.6vh;
    font-size: 15px;
}

.loginPageInputsAndBtns img {
	position: absolute;
	left: 3px;
	bottom: 7px;
}

.signinPageInputs > div, .loginPageInputs > div {
	position: relative;
}

.signinPageBtns {
	display: flex;
	flex-direction: column-reverse;
}

.signinPageBtns .loginBtn {
    border: 1px solid #E2E2E2;
    color: #BF2C7D;
    background-color: white;
}

.signinPageBtns .signinBtn {
    border: 1px solid #979797;
    color: white;
    background-color: #BF2C7D;
}

@media all and (min-width: 500px) {

	.openingPage {
		max-width: 300px;
	}

	.firstPageContent {
		height: 30%;
	}

	.loginPageContent {
		height: 53%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.loginPageInputsAndBtns {
		bottom: 10%;
		width: 85%;
	}

	.emailDiv {
		margin-bottom: 12px;
	}

	.firstPageBtns div {
		font-size: 13px;
	}
}