.cubeWrapper {
  height: 100% !important;

}

.cubeButtons {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr !important;
  /* column-gap: 10px !important; */
  width: 100% !important;
  direction: rtl;
}

.cubeToggle {
  border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.cubeButton>h3 {
  font-size: 14px;
}

.cubeButton>p {
  font-size: 10px;
}

.totalCube {
  display: flex;
  direction: rtl;
  flex-direction: column;
  align-items: center;
}