.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8%;
}

.galleryMainImg {
    width: 100%;
}

.galleryHeader {
    text-align: center;
    padding: 15px 0;
}

.gallery > img {
    width: 46%;
    margin-bottom: 20px;
    object-fit: cover;
}