.contactPage {
	margin: 0 0 100px;
}

.detailsList {
	background-image: linear-gradient(to right, #FAFAFA , #F7F7F7, #FAFAFA);	
}

.detailSquare {
	background-color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
	padding: 15px 38px 15px 0px;
    margin-bottom: 12px;
}

.detailSquare:nth-child(1) {
	align-items: center;
	padding-right: 21px;
}

.detailSquare:nth-child(1) .detailInfo {
	color: var(--primary);
	font-size: 18px;
	font-weight: 500;
}

.detailImgDiv {
	padding-left: 20px;
}

.detailImgDiv svg {
	font-size: 35px;
	color: var(--primary);
}

.detailSquare:nth-child(1) .detailImgDiv {
	width: 70px;
	margin-left: 20px;
	padding: 0;
	border: 4px solid var(--secondCircle);
	border-radius: 50%;
}

.detailSquare:nth-child(1) img {
	width: 100px;
	border: 4px solid var(--firstCircle);
    border-radius: 50%;
    padding: 0;
	background: var(--firstCircle);
}

.detailSquare:nth-child(2) img {
	width: 36px;
}

.detailTextDiv {
	display: flex;
	flex-direction: column;
}

.detailInfo {
	font-size: 16px;
	font-weight: 400;
	/* line-height: 29px; */
	color: black;
	margin: 0;
}

.detailEdit {
	background-color: transparent;
	border: 0;
	color: #8F9BB3;
	text-align: right;
	font-size: 14px;
	font-weight: 300;
	line-height: 27px;
	margin: 0;
}

@media all and (max-width: 500px) {
    .detailInfo {
		font-size: 16px;
	}
	.detailSquare:nth-child(2) .detailInfo {
		font-size: 20px;
	}

}