.datepicker-input {
    height: 43px;
    border-radius: 5px;
    background-color: #cee5d0;
    box-shadow: -1px 8px 4px 0px #94b49f;
    display: flex;
    align-items: center;
}

.date-picker {
    margin: auto;
    display: block;
    width: 90px;
}

.moving-time-container {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-p-container {
    width: 30%;
    margin: auto;
}

.input-description {
    text-align: center;
    color: var(--oil-green);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clock-icon {
    color: var(--White-color);
    width: 50px;
    height: 30px;
    margin: auto;
    margin-bottom: 15px;
}

.select-input {
    background-color: #cee5d0 !important;
    border: none !important;
    width: 100px !important;
    margin: auto !important;
}

.input-select-container {
    height: 43px;
    border-radius: 5px;
    background-color: #cee5d0;
    box-shadow: -1px 8px 4px 0px #94b49f;
    display: flex;
    align-items: center;
}

.date-number {
    margin-right: 8px;
}