.head {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 428px;
  height: 38px;
  top: 0;
  z-index: 5;
  background-color: white;
  padding: 0px 21px;
  margin: 20px auto;
  position: -webkit-sticky;
  /* Safari & IE */
  position: sticky;
  top: 0;
}

.head .menuIcon {
  margin: 0 11px;
}

.head .bellAndCircle {
  position: relative;
}

.head .bell {
  margin: 0 13px;
  width: 15px;
  ;
}

.head .bellCircle {
  position: absolute;
  font-size: 10px;
  color: var(--primary);
  top: 3px;
  right: 8px;
}

.head .headHeader {
  font-size: 16px;
  /* font-family: 'Poppins', sans-serif; */
  letter-spacing: 0.0625em;
  line-height: 1.5625;
  font-weight: 700;
  color: #1E2022;
}

.head .menu {
  display: none;
}