/* This is for search section */
.searchSec .searchArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .searchSec .searchArea .locationIcon svg {
    width: 30px;
    height: 30px;
  }
  
  .searchSec .searchArea .locationIcon svg > path {
    color: var(--primary);
  }
  
  .searchSec .searchArea .searchForm {
    height: 50px;
    max-width: 75%;
    width: 100%;
    display: flex;
    border: 1px solid #eaebec;
    border-radius: 10px;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px 10px 0px 0px;
  }
  
  .searchSec .searchArea .searchForm svg > path {
    color: var(--primary);
  }

  .searchSec .filterIcon {
    background: var(--primary);
    color: white;
    border-radius: 10px;
    padding: 18px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchSec .filterIcon img {
    width: 80%;
  }
  
  .searchSec .searchArea .inputSearch {
    text-align: right;
    height: 50px;
    font-size: 14px;
    color: #77838f;
    border-radius: 6px;
    padding: 0 10px 0 30px;
    width: 100%;
  }
  
  .searchSec .searchArea .inputSearch::placeholder {
    font-size: 14px;
    color: #77838f;
    text-align: right;
  }
  /* This is for search section */