.reoprtPage {
    margin-bottom: 100px;
}

.reportSquare {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 23px 13.5px 31px 20.5px;
    margin-bottom: 10px;
}

.reportSquareTimeAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 35px;
}

.reportSquareTimeAndText .procedursSquareDate {
    width: unset;
    text-align: center;
}

.procedursSquareDatePrice {
    color: var(--primary);
    font-weight: 600;
}

.procedursSquareTextDiv {
    direction: rtl;
}

.reportSquareBtn {
    width: 72px;
    height: 26px;
    font-size: 15px;
    background-color: #F4F4F4;
    border-radius: 8px;
    color: #505050;
    font-weight: 400;
}

.reportSquareBtnActive {
    background-image: var(--primary);
    color: white;
}

.reoprtPage .SearchDiv {
    padding-bottom: 10px
}

.reoprtPage .SearchInput {
    direction: rtl;
}