* {
  box-sizing: border-box;
}

html {
  --blue-green: #56b49d;
  --oil-green: rgb(26, 70, 16);
  --bg-main: linear-gradient(#16a65c, #aae9c9);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');