.total {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    text-align: right;
}

#package {
    margin-left: 15px;
    width: 15px;
}

#terms {
    margin-left: 15px;
    width: 15px;
}

input[type="checkbox"]:checked {
    accent-color: green;
}

.question-mark-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    fill: var(--primary);
    cursor: pointer;
    /* margin-top: 10px; */
}

.terms-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-top: 10px; */
}

.toggle-btn {
    margin: auto;
}

.terms {
    color: var(--primary);
    cursor: pointer;
    display: inline;
}

.terms:hover {
    color: var(--secondry);
}

.MuiButtonBase-root {
    text-align: center !important;
}

.total-price {
    font-size: 25px;
    font-weight: 700;
    /* text-decoration: underline; */
    color: var(--primary);
    margin: auto;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    /* text-decoration: underline !important; */
}

/* .add-package {
    text-align: center; 
    font-weight: bold;
     border: 3px var(--primary) dotted;
} */