.calculatorBtnDiv {
    padding: 15px 10px 25px;
}

.calculatorBtnDiv a {
    color: var(--primary);
}

.movingCheck {
    padding-bottom: 20px;
    padding-top: 15px;
    justify-content: right;
}

.howManyPage .add_card_pages {
    height: unset;
}

.couch-icon-div svg {
    margin-top: 15px;
    margin-left: 15px;
    width: 25px;
    height: 25px;
    fill: var(--primary);
}

#add_card_name_date_picker .react-datepicker-popper div,
#add_card_name_date_picker .react-datepicker-popper {
    text-align: center !important;
    direction: ltr;
}


#add_card_name_date_picker .react-datepicker-popper span,
#add_card_name_date_picker .react-datepicker-popper button {
    direction: rtl;
}

.itemSelect {
    color: black;
    margin-right: 10px;
}

.specific {
    direction: rtl;
}

.by {
    /* font-size: 20px !important; */
    /* font-weight: bold !important; */
}

.allow {
    direction: rtl;
    /* margin-right: 10px; */
    font-size: smaller;
}

.size {
    /* height: 100% !important; */
}

.select_wrap {
    /* display: flex; */
    /* padding: 0 50px !important; */
}

.select_address_input {
    /* background-color: lightgreen; */
    /* width: 50px !important; */
    /* height: 25px; */
    /* border-radius: 5px; */
    /* margin: auto !important; */
}

.buttonDiv {
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleDiv {
    display: flex;
    padding-bottom: 5%;
}

.itemsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
}

.StoringDate {
    height: 100% !important;
}