.transport .servicesDiv .services .service img {
    width: 29vw;
    height: 19vw;
    transition: all .2s ease-in-out;
}

.transport .provider_banner>img {
    background: transparent url('/public/images/home-flipped.jpg')0% 50% no-repeat padding-box;
}